ext_if="{{ ansible_default_ipv4.interface }}"   #This is the external facing network interface 

me="{{ ansible_default_ipv4.address }}"  #This is the public IP address

goodtcp="{ 80, 443, 22 }" #Good tcp ports

udpservices = "{ domain, ntp }"  #good udp ports

jails = "{{ jails_ip_block }}" #IP block for the jails

jailport = "{ 3000:3100 }"  #TCP Port range for the jails


set skip on lo0  #dont process the loopback interface

set skip on lo1 #dont process the cloned loopback interface

nat on $ext_if from $jails to any -> $me #This is the NAT statement that allows jails to access the Internet


#A sample redirect for a jail. Not active unless uncommented

#rdr on $ext_if inet proto tcp from any to $me port 3022 -> 192.168.0.22 port 22



block out all #block out whatever is not allowed below

block in all #block in whatever is not allowed below

pass out quick on $ext_if inet proto { tcp, udp, icmp } from $me to any

pass in quick  on $ext_if inet proto  udp  from any to $me port $udpservices

pass in log quick on $ext_if inet proto tcp from any to $me port $goodtcp

pass in quick on $ext_if inet proto { tcp, udp, icmp } from $jails to any

pass in quick on $ext_if inet proto tcp from any to $me port $jailport

pass in quick on $ext_if inet proto tcp from any port $jailport to any
